/*Attribute that I want to change*/
body {
    background-color: #EDE4E0;
    margin:0;
    text-align: center;
}
.intro_name{
    font-family: 'Amatic SC', cursive,Arial, Helvetica, sans-serif;
}

.education {
    margin: 0;
    text-align: none;
}
/*change all hr to different color*/
hr {
    /*need to set default to none so we can override the default styles*/
    background-color: #EDE4E0;
    border-style: none;
    border-width: 5px;
    border-top-style: dashed;
    border-color: #9F8772;
    height: 0px;
    width: 5%;
    /*% -> automatic change size on different screen*/
}

h1 {
    color: #665A48;
}

h3 {
    color: #665A48;
}

h4 {
    color: #665A48;
}

link{
    text-decoration: none ;
}